.cli-shipping-form {
  font-family: monospace;
  color: var(--text-secondary);
  background-color: var(--background-panel);
  padding: 16px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.cli-header p {
  margin: 0;
  padding: 4px 0;
  color: var(--accent-color);
}

.cli-log {
  margin: 16px 0;
}

.cli-label {
  font-weight: bold;
  color: var(--text-highlight);
}

.cli-input-box {
  font-family: monospace;
  color: var(--text-primary);
  background: var(--input-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 4px;
}

.cli-completion {
  color: var(--success-color);
}

.cli-error {
  color: var(--error-color);
  font-weight: bold;
}
