.subheader-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--cli-accent-color);
    padding: 0.5rem;
  }
  
  .subheader-title {
    color: var(--cli-accent-color);
    margin-right: auto;
  }
  